/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/*
**** Ajout de propriétés CSS du header
*/

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 20px;
}

.lien-icone {
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lien-icone img{
    width: 61px;
    height: 19px;
    object-fit: cover;
}

header nav {
    width: 400px;
    display: flex;
    justify-content:space-around;

}

header nav a {
    padding: 15px;
    font-size: 16px;
}

header nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/*
**** Fin de Ajout de propriétés CSS du header
*/

/*
**** Ajout de propriétés CSS des titres
*/

h1 {
    font-size: 22px;
}

h2 {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-right: 15px;
}

h3 {
    font-size: 16px;
}

/*
**** Fin de Ajout de propriétés CSS des titres
*/

/*
**** Ajout de propriétés CSS section sous_header
*/

.sous_header {
    margin-bottom: 35px;
}

.sous_header p {
    font-size: 16px;
    margin-top: 10px;
}

.sous_header span {
    margin-right: 10px;
}

.formulaire_recherche {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 49px;
    box-sizing: border-box;
}

.fr_icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: var(--main-bg-color);
    border-radius: 20px 0px 0px 20px;
}

form{
    height: 100%;
    display: flex;
}

input {
    display: block;
    border: 0 white;
}

.saisie {
    width: 195px;
    border-top: solid 2px var(--main-bg-color);
    border-bottom: solid 2px var(--main-bg-color);
    font-size: 18px;
    font-weight: bold;
    padding-left: 14px;
}

.rechercher {
    width: 132px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
}

.loupe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50px;
    border-radius: 12px;
    background-color: var(--main-color);
    display: none;
}

.filtres {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.filtres_boutons {
    height: 100%;
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filtres_boutons p {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;
    border: solid 3px var(--main-bg-color);
    border-radius: 26px;
}

.filtres_boutons p:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}
/*
**** Fin de Ajout de propriétés CSS section sous_header
*/


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}